.app{
    /* border: none; */
    /* padding: 0%; */
    overflow: hidden;
    position: relative;
    margin: 0%;
    width: 100%;
    background-image: url('./media/bg_big.png') ;
    
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100vh;
}

.Navbar{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background: linear-gradient(to top, #ffffff79 0%, #abababcb 100%);
    backdrop-filter: blur(2.5px);
}



.Typewriter{
    position: absolute;
    left: 62px;
    top: 521px;
    font-size: 3rem;
    color: #FA58B6;
    z-index: 500;
}
    

.ellipse{
    position: absolute;
    height: 829px;
    width: 913px;
    border-radius: 50%;
    float: left;
    left: -266px;
    top: -57px;
    z-index: 100;
    background-color: #1A1A40;
}
.ellipse2{
    position: absolute;
    height: 853px;
    width: 947px;
    border-radius: 50%;
    float: left;
    left: -210px;
    top: -98px;
    opacity: 80%;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    background-color: #1A1A40;
    
}
.ellipse2:hover{
    /* transition: transform 1s ease-in-out; */
    transform : translateX(12%);
    opacity : 87%;
    
    
}




.register_container{
    position: absolute;   
    right: 100px;
    float: right;
    top: 13%;
    text-align: center;
  
}
.register_container p{
    font-size: 1.2rem;
    
    margin: 10px auto 0 0;
    text-align: center;
}
.register_container p:hover{
    color: green;
    text-decoration: underline;
    cursor:default;
}

.home{
    width: 100%;
    height:100%;
    
}

#main-heading{
    color: #FA58B6;
    display: inline;
    position: absolute;
    /* top: 30%; */
    left: 50px;
    font-size: 5rem;
    width: 35%;
    height: 70%;
    z-index: 500;
    padding: 10% 0;
    
}

.navi-list{
    
    position: absolute;
    /* display: none; */
    opacity: 0;
    color: aliceblue;
    z-index: 100;
    animation: disappear .3s ease-out;

}



.navi-list img{
    margin: 50px auto;
    transition: transform .2s;
    width: 40px;
    height: 40px;
}

.navi-list img:hover{
    transform: scale(1.25);
}
.navi-list img:active{
    transform: scale(1);
}



#li1{
    position: absolute;
    top: 169px;
    left: 736px;
}
#li2{
    position: absolute;
    top: 358px;
    left: 800px;
    height: 45px;
}
#li3{
    position: absolute;
    top: 565px;
    left: 757px;
    text-align: center;
    height: 45px;
    width: 45px;
   
}

.list-item{
    width: 50px;
}







.ellipse2:hover > .navi-list{
    /* visibility:visible; */
    /* display: block; */
    opacity: 1;
    animation: appear .5s ease-in;
    

    
}



@keyframes appear{
    from {opacity: 0; }
    to {opacity: 1; }
}

@keyframes disappear{
    from {opacity: 1; }
    
    to {opacity: 0; }
}

@keyframes list-movement {
    to{

    }
}

.help{
    
    height: 100vh;
}

.help-navi-list{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 0px;
    height: 56px;
    width: 330px;
    left: 42.3%;
    background-color: #212529;
    border-radius: 5px 0px 0px 43px;
    padding-top: 12px;
}

.help-navi-list img{
    
    width: 30px;
    height: 30px; 
    transition: transform .2s;
}

.help-navi-list img:hover{
    transform: scale(1.25);
}
.help-navi-list img:active{
    transform: scale(1);
}



.dev-nav{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    top: 0px;
    left: 890px;
    height: 56px;
    width: 89px;
    background-color: #212529;
    border-radius: 5px 0px 0px 43px;
}

.home-btn{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 14px;
    left: 43px;
    transition: transform .2s;
    
}
.home-btn:hover {
    transform: scale(1.25);
}

.moving_bg{
    position: absolute;
    right: -124px;
    top: -5px;
    height: 105vh;
    width:80%;
    opacity: 0.3;
    filter: blur(1px) brightness(90%);
}

.heading_bg{
    position: absolute;
    top: 0px;
    left: 0px;
    
}