ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    font-family: arial;
    text-align: right;
    width: 100%;
    position: sticky;
    top: 0;
  }
  ul.topnav li {float: right;}
  ul.topnav li  {
    display: block;
    color: rgb(70, 70, 70);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* float: left; */
    font-size: 17px;
    border-right: 1px solid rgba(187, 187, 187, 0);
  }
  ul.topnav li :hover:not(.active) {
      background-color: #ddd;
      color: rgb(63, 12, 122);
  }
  ul.topnav li .active {
      background-color: #a7a7a7;
  }
  ul.topnav li.right {
      float: right;
  }
  @media screen and (max-width: 720px) {
    ul.topnav li{
        width: 100%;
    }
    ul.topnav a{
        width: 100%;
    }
  }