.cont{
        
        margin: 10px auto;
        /* float: none;  */
        margin-bottom: 0px; 
        text-align:center;
        user-select: none;
        width: 458px;
        height: 526px;
}

#cont_id{
        /* float: right; */
        /* margin-right: 100px; */
        background-color: rgba(255, 255, 255, 0.411);
        background: linear-gradient(to top, #ffffff79 0%, #abababcb 100%);
        backdrop-filter: blur(2.5px);
        box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.35);
        border-radius: 10px;    
}



.candidates{
        text-align:center;
        
        flex-direction: row;
        
}
.candidate_card 
{
        display: inline-block;
        margin: 20px;
}

.vote_btn{
        text-align:center;
        /* float: left; */
        /* background-color: blanchedalmond; */
        
}

.vote_card:hover{
        background-color: rgba(255, 255, 255, 0.411);
        background: linear-gradient(to top, #ffffff79 0%, #ABABAB 100%);
        backdrop-filter: blur(2.5px);
}

.main_btn{
        position:relative;
        top: 200px;
        background-color:  #333333;
        border: none;
        /* float: left; */
        text-align: center;
        height: 70px;
        width: 150px;
}
.main_btn:hover{
        color: #2bce41;
        background-color:  #333333e3;
}

#confirm_btn{
        height: 50px;
        top: 100px;
}

.form{
        position: relative;
        left: 25%;
        top: 100px;
        justify-content: center;
        text-align: center;
        height: 100px;
        width: 50%;
        transition-delay: 2s;
}

.label h3{
        position: relative;
        top: 120px;
        font-size: 2.5rem;
}
.label h5{
        font-size: 1rem;
        position: relative;
        top: 125px;
        width: 50%;
        margin: 50px auto 5px;
}

.back-btn{
        position: absolute;
        display: inline-block;
        top: -70px;
        left: -82px;    
        width: 30px;
}
.back-btn:hover {
        text-decoration: none !important;
        background-color: #ffffff88 !important;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        
}



        

        

        
        
        